<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form >
    {% csrf_token %}
    First name: <input type="text" name="fname" id="fname"><br>
    Last name: <input type="text" name="lname" id="lname"><br>
    <input type="button" value="提交" id="upload">
</form>
<p id="p1">Hello World!</p>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
    $(function () {
        {#一直使用Ajax上传#}
        console.log('Ajax上传');
        $("#upload").click(function () {
            var formdata = new FormData();
            formdata.append("fname", $("#fname").val());
            formdata.append("lname", $("#lname").val());
            formdata.append("csrfmiddlewaretoken", $("[name='csrfmiddlewaretoken']").val());
            $.ajax({
                url: "/process",
                type: "post",
                data: formdata,
                contentType: false,
                processData: false,
                success: function (data) {
                    alert("上传成功！")
                    console.log(data)
                    document.getElementById("p1").innerHTML=data.status;
                    document.getElementById("fname").value=data.data.name;
                    document.getElementById("lname").value=data.data.age;
                    alert(data.list)
                },
                error: function (data) {
                    alert("上传失败！")
                    console.log(data)
                }
            })
        })
    });
</script>
</body>
</html>